
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;0,900;1,300&family=Open+Sans:wght@600;700&family=Poppins:wght@300;400;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #1e1f1f;
    font-family: 'Poppins';
}
.bgSection{
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url('../assets/bg.jpg');
    filter: brightness(90%) blur(5px);
}
.bgSection.active{
    position: fixed;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url('../assets/bg.jpg');
    filter: brightness(90%) blur(10px);
}
.publish{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    color: white;
    font-size: 30px;
}
.publish.inactive{
    display: none;
}
